:root {
  --green-dark: #c3fbe0;
  --green-light: #eafff5;
}

.bg-green {
  background-color: var(--green-dark);
}

body {
  background-color: var(--green-light);
}

.cards {
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);
}

.center-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 50vh;
}

.form-card {
  background-color: white;
  margin:20px 0;
  border-radius: 20px;
  padding: 20px 30px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);
}
